/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color:#0299df;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #0299df;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

button:hover {
    background-color: #0299df;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #0299df;
    color: white;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

/* Rodapé */
footer.rodape {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    background-color: #6d6c6c;
    color: white;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #0299df;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        width: 90%;
        padding: 15px;
    }

    input[type="text"], input[type="number"], button {
        font-size: 1rem;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
}
